* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100vh;
}

body {
    background-color: #D5D4D4;
    font-family: Roboto, Arial, sans-serif;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

form {
    margin: 50px 0;
    background-color: white;
    padding: 30px 35px;
    border-radius: 5px;
}

form .form-new {
    margin-bottom: 20px;
}

form .form-new label {
    font-size: 14px;
    color: darkslateblue;
}

form .form-new input {
    width: 100%;
    display: block;
    margin-top: 8px;
    padding: 7px;
    font-size: 16px;
    color: #7159c1;
    border-radius: 2px;
    border: 1px solid #ccddef;
    outline-color: #7159c1;
}

form .edit-button,
form .submit-button {
    display: block;
    min-width: 120px;
    border: none;
    background-color: #E02F1F;
    color: white;
    border-radius: 25px;
    margin: auto;
    padding: 9px;
    padding-right: 150px;
    padding-left: 150px;
}

.input-form-radio {
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    float: left;
    box-sizing: border-box;
}

.input-form {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}