* {
  padding: 0px;
  margin: 0px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-color: #f3f3f3;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.menu-bar {
  height: 55px;
  background-color: #0090c9;
  grid-column: 1/8;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.menu-bar #menu-itens {
  color: white !important;
  text-decoration: none;
  margin-top: 15px;
  grid-column: 2/4;
  list-style: none;
}

.menu-bar .logged-info {
  margin-top: 15px;
  color: white;
  grid-column: 6/8;
}

.menu-bar .logged-info a {
  color: black;
}

.menu-bar #menu-itens ul li {
  text-decoration: none;
  display: inline;
  color: white !important;
}

.menu-bar #menu-itens a {
  text-decoration: none;
  padding: 15px;
  border-radius: 15px;
  color: white !important;
}

.menu-bar #menu-itens a:hover {
  color: blue !important;
}

.page-content {
  grid-column: 1/8;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.main-page-charts {
  border-radius: 20px;
  margin-top: 40px;
  grid-column: 2/7;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}


.charts-title{
  margin: 10px;
  grid-column: 1/8;
}

.search-page {
  margin-top: 40px;
  grid-column: 2/7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.search-page-label{
  grid-column: 1/8;
}

.search-page-termo{
  border-radius: 10px;
  padding: 8px;
  border: 1px rgb(82, 82, 82) solid;
  grid-column: 1/8;

}


.profile-infos {
  margin-top: 40px;
  grid-column: 2/7;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.logout-button {
  text-decoration: none;
  color: rgb(190, 41, 41) !important;
}

.logout-button:hover {
  color: red !important;
  font-weight: bold;
}

.charts-canvas{
  grid-column: 1/8;
}

.label {
  grid-column: 1/8;
}

.input-profile {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 25px;
  grid-column: 1/8;
  border-radius: 5px;
  padding: 3px;
  border: 1px rgb(126, 126, 126) solid;
}

.button-profile {
  color: white;
  margin-top: 15px;
  grid-column: 2/7;
  padding: 8px;
  border: none;
  background-color: #0050c9;
  cursor: pointer;
  border-radius: 15px;
}

.button-profile:hover {
  background-color: rgb(0, 65, 161);

}

.main-page-resume {
  margin-top: 40px;
  grid-column: 5/7;
  background-color: magenta;
}

.acom-button{
  border-radius: 10px;
  color: white;
  background-color: rgb(0, 81, 255);
  padding: 5px;
  border: none;
}

.acom-button:hover{
  cursor: pointer;
  background-color: rgb(0, 38, 255);
}


table.tableList {
  grid-column: 1/8;
  border: 0px solid #1C6EA4;
  background-color: #EEEEEE;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
table.tableList td, table.tableList th {
  border: 1px solid #AAAAAA;
  padding: 5px 7px;
}
table.tableList tbody td {
  font-size: 13px;
}
table.tableList tr:nth-child(even) {
  background: #D0E4F5;
}
table.tableList thead {
  background: #1C6EA4;
  background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
  border-bottom: 2px solid #444444;
}
table.tableList thead th {
  font-size: 14px;
  font-weight: bold;
  color: #FFFFFF;
  border-left: 2px solid #D0E4F5;
}
table.tableList thead th:first-child {
  border-left: none;
}

table.tableList tfoot td {
  font-size: 13px;
}
table.tableList tfoot .links {
  text-align: right;
}
table.tableList tfoot .links a{
  display: inline-block;
  background: #1C6EA4;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 5px;
}

.new-insert label {
  margin-left: 15px;
  margin-bottom: 10px;
  width: 50%;
  grid-column: 1/8;
  display: block;
}

.insert-title {
  grid-column: 1/8;
  margin-top: 5px;
  margin-left: 15px;
  margin-bottom: 10px;
}

.new-insert{
  grid-column: 1/8;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.new-insert input {
  border-radius: 15px;
  border: 1px rgb(0, 175, 245) solid;
  padding: 6px;
  margin-bottom: 6px;
  margin-left: 10px;
  margin-right: 10px;
  grid-column: 1/8;

}

.new-insert button {
  cursor: pointer;
  border: none;
  border-radius: 15px;
  color: white;
  padding: 8px;
  background-color: rgb(0, 132, 248);
  margin-bottom: 10px;
  grid-column: 2/7;
}

.new-insert button:hover {
  background-color: rgb(1, 105, 197);
  border-radius: 8px;
}

.button-voltar {
  font-size: 15px;
  background-color: #0090c9;
  border: none;
  color: white;
  cursor: pointer;
}

.button-voltar:hover {
  color: #0057c9;
}